{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
</head>
<body>
    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/" aria-label="На головну">Головна</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href={% url "news:list"%}>Новини</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacts">Контакти</a>
                        </li>
                    </ul>

                    <form class="d-flex me-3" role="search">
                        <input class="form-control me-2 bg-dark text-light border-light" type="search" placeholder="Пошук" aria-label="Пошук">
                        <button class="btn btn-outline-light" type="submit">Пошук</button>
                    </form>

                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class="nav-link text-light">Привіт {{ user.username }}</span>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'users:logout' %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="nav-link btn btn-link text-decoration-none">
                                    Вихід <i class="bi bi-box-arrow-right"></i>
                                </button>
                            </form>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}">Login <i class="bi bi-box-arrow-in-left"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:register' %}">Register <i class="bi bi-person-plus"></i></a>
                        </li>
                        {% endif %}
                      </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Основний контент -->
    <div class="container mt-5 pt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% block scripts %}
   
    {% endblock %}
</body>
</html>
